* {
    --font-form: 'Poppins', sans-serif;
    --less-white: #fcfcfc;
    --less-grey: #787F90;
    --background: #313540;
    --accent: #80C27F;
    --accent-dark: #66a165;
    --light-grey: #E5E5E5;
    --light-red: #FB3640;
    --status-red: #A72608;
    --status-green: #A29F15;
    --status-blue: #4D7EA8
  }